.carousel-wrapper {
    position: relative;
    /* Asetetaan juuri karusellin yläpuolelle luokalle uudet muuttujat */
    --bs-carousel-control-color: #4f46e5;
    
    /* Tämä filtterikoodi muuttaa valkoisen SVG-nuolen lilan väriseksi */
    /* Tämä on välttämätöntä Bootstrapin SVG-nuolten värjäämiseksi */
    --bs-carousel-control-icon-filter: invert(30%) sepia(85%) saturate(3000%) hue-rotate(240deg) brightness(80%) contrast(100%);
}
.carousel-control-prev, .carousel-control-next {
    /* Nuolet pois korttien päältä */
    position: absolute;
    width: 30px; 
    height: 30px; 
    top: 50%;
    transform: translateY(-50%);
    z-index: 100;
    
    background: none; 
    opacity: 1; 
}

/* Vasen nuoli siirretään korttien ulkopuolelle */
.carousel-control-prev {
    left: -40px;
}

/* Oikea nuoli siirretään korttien ulkopuolelle */
.carousel-control-next {
    right: -40px;
}

/* Varmistetaan, että nuolikuvakkeet käyttävät uusia arvoja */
.carousel-control-prev-icon, .carousel-control-next-icon {
    width: 30px;
    height: 30px;
    filter: var(--bs-carousel-control-icon-filter) drop-shadow(0 0 0.5px #4f46e5) drop-shadow(0 0 0.5px #4f46e5) drop-shadow(0 0 0.5px #4f46e5); 
    background-color: transparent !important;
}